.s-wrap {

  width: 100%;
  height: 50px; /* Optional */
  border-radius: 15px 50px;
    background: #a7c5eb;
  overflow: hidden; /* Hide scrollbars */
}

/* MIDDLE WRAPPER */
.s-move {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
}

/* SLIDES */
.slide {
  box-sizing: border-box;
  padding: 10px;
  /* Force all slides to layout horizontally */
  width: 100%;
  flex-shrink: 0;
}

/* SLIDE ANIMATION MAGIC */
@keyframes slideh {
  /* Will use keyframes to shift the 5 slides *
  0% { right: 0; }
  20% { right: 100%; }
  40% { right: 200%; }
  60% { right: 300%; }
  80% { right: 400%; }
  100% { right: 0; }*/
  /* BUT the above will be non-stop */
  /* We want short pauses between each slide, so... */
  0% { right: 0; }
  20% { right: 100%; }
  40% { right: 200%; }
  60% { right: 300%; }
  80% { right: 400%; }
  100% { right: 0; }
}
.s-move { animation: slideh linear 35s infinite; }

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.image-slider
{
  width: 100%;
  height:200;
}
#header
{
  margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    width: 100%;

}
#video
{
  border-radius: 15px 50px;
    background: #a7c5eb;
}
h3
{
  margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
footer
{

    margin-top: 0px;
      margin-bottom: 0px;
}
p{

    margin-top: 0px;
      margin-bottom: 0px;

      margin-left: 10px;
}
#click
{
  padding-left: 11px;
  text-decoration: none;
}
#click-here{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/*.pic6
{
  margin-left: 490px;
border-left-width: 100px;
}
.pic3
{
  margin-left: 490px;
border-left-width: 100px;
}*/

.pic1
{
  margin-left: 20px;
  border: 2px solid #025955;
padding: 10px;
}
.pic2
{
  margin-left: 220px;
  border: 2px solid #025955;
padding: 10px;
}
.pic3
{
  margin-left: 250px;
  border: 2px solid #025955;
padding: 10px;
}
.pic4
{
  margin-left: 20px;
  border: 2px solid #025955;
padding: 10px;
}
.pic5
{
  margin-left: 220px;
  border: 2px solid #025955;
padding: 10px;
}
.pic6
{
  margin-left: 250px;
  border: 2px solid #025955;
padding: 10px;
}
.main{
  padding-left: 20px;
    padding-top: 10px;
    padding-right: 15px;
    border-radius: 25px;
    border: 5px solid #26001b;
  padding: 10px;
}
#bd
{
  background: linear-gradient(to bottom, #99ffcc 0%, #ffffcc 100%);

}
#image-select-captionText{
  font-family: Arial, Helvetica, sans-serif;
}
#home
{
  padding-left: 11px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
